.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #222;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  max-width: 90%; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.modal-body {
  margin: 20px 0;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.input-field {
  flex: 1 1 calc(50% - 10px);
  padding: 12px 40px;
  border: 1px solid #555;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  min-width: 100px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.submit-button,
.cancel-button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

.submit-button {
  background-color: #0b0b0b;
  color: rgb(126, 126, 218);
}

.submit-button:hover {
  background-color: #191a1a;
}

.cancel-button {
  background-color: #151414;
  color: grey;
  border: none;
}

.cancel-button:hover {
  background-color: #262425;
}

.new-product-form label {
  display: block;
  margin: 10px 0 5px;
}

@media (max-width: 768px) {
  .modal-content {
      width: 90%;
      padding: 15px;
  }

  .input-field {
      flex: 1 1 100%; 
      margin-bottom: 10px;
      padding: 10px;
  }

  .button-container {
      justify-content: center;
  }

  .submit-button,
  .cancel-button {
      width: 45%; 
      padding: 10px;
      font-size: 14px;
      margin: 5px;
  }
}

@media (max-width: 480px) {
  .modal-content {
      width: 95%;
      padding: 10px;
  }

  .modal-header h2 {
      font-size: 1.2em;
  }

  .input-field {
      padding: 8px;
      font-size: 14px;
  }

  .submit-button,
  .cancel-button {
      font-size: 14px;
      width: 100%;
      margin: 5px 0;
      padding: 10px;
  }
}


/* https://github.com/akashkadam2002/Product_Dashboard.git */